<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <clear/>
    <add key="ThirdParty" value="https://millimanlts.myget.org/F/thirdparty/auth/0881507e-f7bd-48eb-8003-523eca9ad3ab/api/v3/index.json" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>